body{
    margin: 0;
    padding: 0;
    font-family: "Heebo",sans-serif;
}
.logo{
    display: block;
    margin: auto 0;
   
}
.header-wrapper{
    display: flex;
    background-color: #0F172B;
    height: 140px;
}
.nav-contact{
    display: flex;
    padding: 5px;
    margin-top: -7px;
}
.contact-nav{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666565;
}
.contact-nav img{
    width: 20px;
    height: auto;
}

.nav-link{
    display: flex;
    list-style: none;
    margin-left: -30px;
    margin-top: -10px;
}
.nav-links{
    padding: 10px;
    font-size: 20px;
    color: aliceblue;
}
/* Hero section Component */
.hero-parent{
    background-image: url('./assets/home.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-sec{
    font-size: 50px;
    color: white;
    font-weight: 600;
    margin-bottom: 200px !important;
}

/* home Component */
.p-container{
    background-color: #0F172B;
    padding: 48px 12px;
    color: white;
}
.student-header h2{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.student-list{
    display: flex;
    justify-content:space-around;
}
.student-lists li{
    list-style: none;
    font-size: 30px;
    padding: 10px;
    font-weight: 600;
}

/* student rooms Component */
.container{
    background-color: #0F172B;
    padding: 48px 12px;
}

.heading{
    font-family: "Montserrat",sans-serif;
}

.heading h6{
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.heading h1{
    text-align: center;
    color: #fff;
    margin-top: -30px;
    font-size: 27.625px;
}


.sub_heading h1{
    text-transform:uppercase;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    padding: 0 10px;
    font-family: "Montserrat",sans-serif;

}

.heading >div{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.Accom_line h1{
    font-size: 50px;
    font-weight: 600;
}
.Accom_line span{
    border:1px solid #305B9B;
    width: 40px;
}

.sub_heading >div{
    display: flex;
    justify-content:center;
    align-items: center; 
}

.Bed_line span{
    border:1px solid #305B9B;
    width: 50px;
}

.bedroom_photo img{
  width:90%;
  height: 40vh;
}

.bedroom_info{
    margin: 8px 0px 0px;
    padding: 24px;
}

.bedroom_details{
    padding-left: 15px;
    margin: -30px;
    padding-left: 50px;
}

.bedroom_details p{
    color: #fff;
}

.bedroom_details h5{
    font-family: "Montserrat",sans-serif;
}

.bedroom_info h5{
    color: #fff;
    font-size: 20px;
}

.bedroom_icon{
    display: flex;
    color: #fff;
    font-size: 14px;
    margin-top: -15px;
}

.bedroom_icon i{
    padding-right: 10px;
}

.bedroom_icon span{
    padding-right: 10px; 
}
.beds{
    display: flex;
    justify-content: space-around;
}


/* service component */
.s-block{
    background-color: white;
    width: 250px;
    height: 250px;
    padding: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.s-align{
    margin-top: 70px;
    color: black;
    cursor: pointer;
}
.s-block:hover{
    background-color: #305B9B;
    color: white;
}
.s-block img{
    
    width: 50px;
    height: auto;
}
.service-block{
    display: flex;
    justify-content: space-around;
    margin: 35px;
}

/* contact component */
.contact-d{
display: flex;
margin-left: 20px;
}
.contact-us{
    padding: 20px;
    margin: 20px;

}
.map{
    margin-left: -120px;
}
.contactForm{
    margin-left: -220px;
}
.send-contact{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.form-group {
    margin-bottom: 20px;
  }
 
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 130px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .last-contact{
    margin-left: 80px;
    margin-top: 150px;
  }
  .footer{
    margin-top: 40px;
    padding: 5px 80px;

  }